.App {
  text-align: center;

}

.boxForm {
  display: flex;
  flex-direction: column;
  align-items: center;

}

.textInput{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0.5rem;
}

.radio{
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  
}
.textInput>input {
  width: 200px;

}

.radioBox {
  display: flex;
  margin-bottom: 1rem;
  
}